html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    line-height: 1.5;
}

.flex {
    display: flex;
}

.main {
    margin: 100px 30px 20px 300px;
}

.show-list-header {
    margin-bottom: 6px;
    font-weight: 500;
}

.show-list-item {
    height: 24px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.show-list-header div,
.show-list-item div {
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show-list-header-time,
.show-list-item-time {
    width: 8%;
}

.show-list-header-name,
.show-list-item-name {
    width: 25%;
}

.show-list-header-duration,
.show-list-item-duration {
    width: 10%;
}

.show-list-header-network,
.show-list-item-network {
    width: 20%;
}

.show-list-header-summary,
.show-list-item-summary {
    width: 32%;
}

.show-list-item-thumbnail-image {
    width: 100%;
}

.hover {
    background-color: #f6f6f6;
    cursor: pointer;
}

.show-content {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.show-content div {
    margin-bottom: 10px;
}

.show-content div:first-child {
    margin-bottom: 0;
}

.show-param-title {
    font-weight: 500;
}

.show-title {
    font-size: 36px;
    font-weight: 300;
}